project_id = "rkavazbohhjkezmdjhyq"

[api]
enabled = true
port = 54321
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[auth]
enable_signup = true

[functions.generate-playlist]
verify_jwt = true
